<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dawn Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

   <script src="js/jquery.js"></script>
   <script src="js/bootstrap.min.js"></script>
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #00e6ac;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #e6e6e6;
  }
  .logo-small {
      color: #00e6ac;
      font-size: 50px;
  }
  .logo {
      color: #00e6ac;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #00e6ac;
  }
  .carousel-indicators li {
      border-color: #00e6ac;
  }
  .carousel-indicators li.active {
      background-color: #00e6ac;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #00cc99;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #00cc99;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #00e6ac !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #00e6ac;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  .timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.part-member {
  margin-bottom: 50px;
  text-align: center;
}

.part-member img {
  width: 225px;
  height: 225px;
}

.part-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.part-member p {
  margin-top: 0;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #00e6ac;
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Dawn</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">PROJECT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">OUR TEAM</a></li>
        <li><a href="#pricing">PARTNERS</a></li>
        <li><a href="#contact">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>DAWN</h1>
  <p>L'agriculture de demain</p>
  <form>
    <div class="input-group-btn">
      <a href="#about" class="btn btn-basic" role="button">Tell me more</a>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/dawnproject/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>A propos de Dawn</h2><br>
      <h4>Dawn Project est un projet entrepreneurial visant à offrir aux citadins les outils de transformation de leur consommation alimentaire. En effet, grâce à l’offre servicielle que nous développons les Dawners (membres de notre communauté) pourrons devenir de vrais fermiers citadins en redevenant acteurs de leur production. </h4><br>
      <p>Nous proposons un abonnement mensuel complet délivrant une performance globale: la location d’une serre intelligente autonome, la mise à disposition d’un réseau de fermiers citadins s’échangeant leur surplus de récolte pour compléter leur panier de F&L ainsi que l’accès à une ferme centrale urbaine où dénicher des F&L rares et des espèces anciennes.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo slideanim"></span>


    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>

    </div>
    <div class="col-sm-8">
      <h2>Notre Vision</h2><br>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p><strong>VISION:</strong> Produire en ville et produire ensemble pour mieux manger et mieux vivre.
En relocalisant la production de Fruits et Légumes dans les villes et en s’organisant en communautés solidaires de fermiers citadins, nous serons capables de répondre aux grands enjeux de notre siècle en terme d’alimentation et de protection de l’environnement.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>Ce que nous offrons</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>La Box</h4>
      <p class="text-muted">Micro serre connectée régulant l'environnement de pousse des fruits et légumes, dotée d'un système intelligent qui optimise les paramètres de pousse.</p>
      <img class="img-circle img-fluid" src="{{ asset('images/Prototype.png') }}" alt="Box" width="200" height="200">
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
      <h4>Les consommables</h4>
      <p class="text-muted">Kit de recharge en graines et nutriments permettant le bon fonctionnement de la box. Ils fournissent les apports nécessaires aux fruits et légumes.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-phone logo-small"></span>
      <h4>L'application communautaire</h4>
      <p class="text-muted">Application sociale connectant tous les utilisateurs afin qu'ils puissent échanger leurs surplus de production.</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center">
  <!-- Team -->
    <section class="bg-grey " id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Notre Equipe</h2>
            <h3 class="section-subheading text-muted">Board</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto img-circle" src="{{ asset('images/Daniel.png') }}" alt="">
              <h4>Daniel Bodenheimer</h4>
              <p class="text-muted">Co-Founder, CEO</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/daniel-bodenheimer-5b8000147">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto img-circle" src="{{ asset('images/Leo.png') }}" alt="">
              <h4>Léo Bertau</h4>
              <p class="text-muted">Co-Founder, R&D </p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://fr.linkedin.com/in/léo-bertau-50b897152">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto img-circle" src="{{ asset('images/Pinaud2.png') }}" alt="">
              <h4>Antoine Pinaud</h4>
              <p class="text-muted">CTO</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/antoine-pinaud-a3b417163/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
          </div>
        </div>
      </div>
    </section>
</div>

  <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Timeline</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-fluid" src="{{ asset('images/Hackathon-1.png') }}" alt="Box" width="155" height="155">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Février 2018</h4>
                    <h4 class="subheading">Hackathon Crédit-Agricole</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">First Price at the Start’up Challenge of Saint-Étienne organized by Crédit Agricole and EM-Lyon. We were lucky to win 4000€ and 3 coaching classes with the CEO & Chairman of the French company Sam Outillage and his whole executive team.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-fluid" src="{{ asset('images/Prototype.png') }}" alt="Box" width="155" height="155">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Juillet 2018</h4>
                    <h4 class="subheading">Prototype Box</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-fluid" src="{{ asset('images/Hackathon-3.jpeg') }}" alt="" width="155" height="155">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Juillet 2018</h4>
                    <h4 class="subheading">Hackathon Start'in Challenge</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-fluid" src="{{ asset('images/Incubation.png') }}" alt="" width="155" height="155">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2018-2019</h4>
                    <h4 class="subheading">Incubation Use'In</h4>
                  </div>
                  <div class="timeline-body">
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="img-circle img-fluid" src="{{ asset('images/logo.png') }}" alt="" width="155" height="155">

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  <h3 class="text-center">Rejoignez nous !</h3>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"Ça va cartonner !"<br><span>Daniel Bodenheimer, CEO</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>Léo Bertau, Co-Founder R&D</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Antoine Pinaud, CTO</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid bg-grey">
  <div class="text-center">
    <h2>Partenaires</h2>
    <h4>Ils nous ont fait confiance et nous accompagnent!</h4>
    <section class="bg-grey " id="team">
      <div class="container">
        <div class="row">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="part-member">
              <img class="mx-auto" alt="" src="{{ asset('images/Logo_emse-2.png') }}">
              <h4>Mines Saint-Etienne</h4>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="part-member">
              <img class="mx-auto" alt="" src="{{ asset('images/UseIn2.png') }}">
              <h4>Use'In</h4>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="part-member">
              <img class="mx-auto" alt="" src="{{ asset('images/SAM2.png') }}">
              <h4>Sam Outillage</h4>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="part-member">
                <img class="mx-auto" alt="" src="{{ asset('images/Credit-Agricole.png') }}">
                <h4>Crédit Agricole</h4>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="part-member">
                <img class="mx-auto " alt="" src="{{ asset('images/SE.png') }}">
                <h4>Saint-Etienne Métropole</h4>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="part-member">
                <img class="mx-auto" alt="" src="{{ asset('images/ARA.png') }}">
                <h4>La région Auvergne-Rhone-Alpes</h4>

              </div>
            </div>
        </div>
        <div class="row">
        </div>
      </div>
    </section>
</div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contactez nous et nous vous répondrons sous 48h.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Saint-Etienne, France</p>
      <p><span class="glyphicon glyphicon-phone"></span> 0662774672</p>
      <p><span class="glyphicon glyphicon-envelope"></span> daniel.bodenheimer@etu-emse.fr</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/dawnproject/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>

</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
